<hr>
<div class="intro-heading col-md-12 text-center skrollable skrollable-between" data-0="opacity:1;" data--100-start="transform:translatey(0%);" data-center-bottom="transform:translatey(30%);" style="transform: translateY(11.0638%); opacity: 1;">
    <h5 class="margin1 text-ornament">Aniversario</h5>
</div>
<div class="container">
    <div class="row">
        <div class="well col-md-10 col-md-offset-1 text-center">
            <div class="section-heading">
                <h2 style="color: #8e8d8d !important">Febrero 23 de 2021</h2>
                <div class="hr"></div>
            </div>
            <!-- TITULO -->
            <h5 style="color: #8e8d8d !important" class="margin1">¿Recuerdas ese primer beso? 🥺</h5>

            <p style="text-align: justify; color: #8e8d8d !important">
                Era inevitable, el sereno de la noche caía después de una gran diversión, que puedo decir, el tequila y un buen baile formaban parte de la historia, misma que se desencadenaria en unas horas, cuando llegaba la hora de irte a dejar, tu ibas sentada en
                el asiento del pasajero, nos dirigimos a un mejor lugar para conversar, entre platica y platica nuestros sentimientos se hicieron presentes… de pronto, mi boca se acerca poco a poco mientras tu no parabas de hablar, solo quería callarte
                a besos y asi como pasa una estrella fugaz de la misma manera nuestros labios ya estaban tocándose en un frenesí de amor dando inicio a este gran amor
            </p>
            <div style="text-align: center; color: #8e8d8d !important">
                <p>Recuerda</p>
                <b> "Tus problemas ahora también son los mios ♥️"</b>
            </div>

            <!-- Contador -->
            <div class="margin1">
                <div class="d-flex justify-content-center">

                    <div class="p-2">
                        <p class="text-center countdown">Dias</p>
                        <div id="wrapper">
                            <div class="heart filled">
                                <div class="heart-text text-center">
                                    {{day}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-2">
                        <p class="text-center countdown">Horas</p>
                        <div id="wrapper">
                            <div class="heart filled">
                                <div class="heart-text text-center">
                                    {{hours}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-2">
                        <p class="text-center countdown">Minutos</p>
                        <div id="wrapper ">
                            <div class="heart filled">
                                <div class="heart-text text-center">
                                    {{minutes}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-2">
                        <p class="text-center countdown">Segundos</p>
                        <div id="wrapper ">
                            <div class="heart filled">
                                <div class="heart-text text-center">
                                    {{seconds}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>